<!doctype html>
<head>
	<h1>WELCOME TO Shirley & Johnny's TFA Project: SQUIRREL TRACKER <h2>
</head>

<body style="background-color:lightblue;">
	<ul>
		<li><a href = 'sightings/add/'>Click here to add a new squirrel </a></li>
                <li><a href = 'sightings/'>Click here to see the list of squirrels sightings </a></li>
		<li><a href = 'sightings/stats/'>Click here to check the stats  </a></li>
		<li><a href = 'map/'>Click here to see the map view </a></li> 
        </ul>
	<p align="center"> {% load static %} 
	<img src="{% static "tracker_app/images/squirrel.jpg" %}" width ="1000" height ="562"> </p>
</body>
