<!doctype html>
<head>
	<h1> Here are some interesting stats </h1>
</head>

<body style="background-color:lightblue;">
	<ul>
		<li> Count of sighting by time of the day  </li>
		<ul>
			<li> Morning:{{AM_count}} </li>
			<li> Afternoon: {{PM_count}} </li>
	        </ul>
		<li>Number of Squirrels were Kuks: {{Kuks_count}}</li>
		<li>Number of Squirrels seen Foraging: {{Foraging_count}}</li>
		<li>Number of Squirrels were Quaas:  {{Quaas_count}}</li>
		<li>Number of Squirrels were Moans: {{Moans_count}}</li>
	</ul>
	<p><a href='/'>Go to main page</a> </p>
</body>
