<!doctype html>
<head>
	<h1> Here are some interesting stats </h1>
</head>

<body style="background-color:lightblue;">
	<ul>
		<li> Count of sighting by time of the day  </li>
		<ul>
			<li> Afternoon:{{AM_count}} </li>
			<li> Evening: {{PM_count}} </li>
	        </ul>
		<li>Number of Squirrels seen Eating: {{Eating_count}}</li>
		<li>Number of Squirrels seen Foraging: {{Foraging_count}}</li>
		<li>Number of Squirrels seen Running:  {{Running_count}}</li>
		<li>Number of Squirrels seen Climbing: {{Climbing_count}}</li>
	</ul>
	<p><a href='/'>Go to main page</a> </p>
</body>
